/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

/* kode header */
header {
  /* height: 50px; */
  width: 100%;
  background-color: rgba(228, 241, 254, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
  transition: all 0.5s;
}

.logo {
  width: 74px;
  float:left;
}
.logo:hover{
  background-color:rgba(34, 167, 240, 0.7);
}


/* Kode Navbar */
.navbar {
 overflow: hidden;
 background-color: rgba(1, 50, 67, 0.8);
}
/* Links inside the navbar */
.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
/* The dropdown container */
.dropdown {
 float: left;
 overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit; /* Important for vertical align on mobile phones */
 margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: rgba(34, 167, 240, 0.7);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(228, 241, 254, 0.9);
 z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
 background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 display: block;
}


/* Ukuran Body dan container */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container h3{
  width: 80%;
  margin:0 auto;
  text-align: center;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(http://www.consultsynergy.ae/wp-content/uploads/2017/10/OurTeam.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  text-shadow:1px 1px blue;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h3{
  font-size: 20px;
  text-shadow:1px 1px blue;
  color: white
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

/* kode tombol media sosial */
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.signup {
  background-color: #239b76;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}


/* kode profile team */
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
  /*transition berfungsi untuk zoom tulisan dan gambar*/
  transition: transform .9s ease;
  opacity:0.9;
}

.lesson:hover {
  cursor: pointer;
  transform: scale(1.3);
  opacity: 1;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 87%;
  width: 100%;
  color: white;
  /* mengatur ukuran nama */
  font-size:20px;

  font-weight: bolder;
  /*agar namanya jelas, kita menggunakan bayangan hitam*/
  text-shadow:2px 1px black;

}

/*ukuran foto profile*/
.profile img{
  width:200px;
  height: 200px;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #191970;
  /*kalimat di rata kanan kiri*/
  text-align: center;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: rgba(1, 50, 67, 1);
  cursor: pointer;
  box-shadow: 0 7px rgba(37, 116, 169, 1);
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.contact-form {
  padding-top: 20px;
  padding-left: 15px;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input, textarea {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #dee7ec;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #26d0c9;
  color: white;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  color: #b3aeb5;
  font-size: 12px;
}

/* Ketik code Anda dibawah */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
